@import '../../../styles.scss';

header {
  background: black;
  padding: 13px 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  .header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      img {
        &.home-icon {
          width: 32px;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
        &.flag {
          width: 50px;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
        &.logo {
          width: 102px;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .languages {
      background: #f1f1f1;
      width: 100%;
      position: absolute;
      margin-top: 610px;
      ul {
        padding-left: 0px;
        list-style: none;
        margin: auto;
        max-height: 83vh;
        overflow-y: auto;
        li {
          padding: 10px;
          a {
            display: flex;
            align-items: center;
            img {
              width: 35px;
              height: auto;
              object-fit: cover;
              object-position: center;
            }
            span {
              color: black;
              font-size: 20px;
              padding-left: 12px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
